Pods
build
.lock
*.lock
.svn
.xcuserstat
*.xcscmblueprint
*.xcuserstate
.project
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
AipBase.framework
AipOcrSdk.framework
BaiduTraceSDK.framework
HelpDeskLite.framework
HyphenateLite.framework
qixiaofu.xcodeproj/xcuserdata
qixiaofu.xcworkspace/xcuserdata
qixiaofu.xcodeproj/project.xcworkspace