<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>areaId</key>
        <string>1</string>
        <key>areaName</key>
        <string>北京</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>2</string>
        <key>areaName</key>
        <string>天津</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>3</string>
        <key>areaName</key>
        <string>河北</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>4</string>
        <key>areaName</key>
        <string>山西</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>5</string>
        <key>areaName</key>
        <string>内蒙古</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>6</string>
        <key>areaName</key>
        <string>辽宁</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>7</string>
        <key>areaName</key>
        <string>吉林</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>8</string>
        <key>areaName</key>
        <string>黑龙江</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>9</string>
        <key>areaName</key>
        <string>上海</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>10</string>
        <key>areaName</key>
        <string>江苏</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>11</string>
        <key>areaName</key>
        <string>浙江</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>12</string>
        <key>areaName</key>
        <string>安徽</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>13</string>
        <key>areaName</key>
        <string>福建</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>14</string>
        <key>areaName</key>
        <string>江西</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>15</string>
        <key>areaName</key>
        <string>山东</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>16</string>
        <key>areaName</key>
        <string>河南</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>17</string>
        <key>areaName</key>
        <string>湖北</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>18</string>
        <key>areaName</key>
        <string>湖南</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>19</string>
        <key>areaName</key>
        <string>广东</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>20</string>
        <key>areaName</key>
        <string>广西</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>21</string>
        <key>areaName</key>
        <string>海南</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>22</string>
        <key>areaName</key>
        <string>重庆</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>23</string>
        <key>areaName</key>
        <string>四川</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>24</string>
        <key>areaName</key>
        <string>贵州</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>25</string>
        <key>areaName</key>
        <string>云南</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>26</string>
        <key>areaName</key>
        <string>西藏</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>27</string>
        <key>areaName</key>
        <string>陕西</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>28</string>
        <key>areaName</key>
        <string>甘肃</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>29</string>
        <key>areaName</key>
        <string>青海</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>30</string>
        <key>areaName</key>
        <string>宁夏</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>31</string>
        <key>areaName</key>
        <string>新疆</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>32</string>
        <key>areaName</key>
        <string>台湾</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>33</string>
        <key>areaName</key>
        <string>香港</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>34</string>
        <key>areaName</key>
        <string>澳门</string>
    </dict>
    <dict>
        <key>areaId</key>
        <string>35</string>
        <key>areaName</key>
        <string>海外</string>
    </dict>
</array>
</plist>
